@charset "UTF-8";

:root{
    --cor1: #050505;
    --cor2: #F4F4F9;
    --cor3: #3E6680;
    --cor4: #027BCE;
    --cor5: #0496ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font: 1em Arial, Helvetica, sans-serif;
    background: var(--cor2);
    color: var(--cor1);
}

header{
    background-color: var(--cor3);
    color: var(--cor2);
}

#menu{
    width: 100vw;
    height: 10vh;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#menu_button:hover{
    background-color: rgba(255, 255, 255, 0.083);
}

#menu_itens{
    display: none;
    padding: 5px;
    height: 10vh;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.083);
}

header a{
    color: var(--cor2);
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
}

article{
    padding: 10px;
    max-width: 600px;
}

a{
    color: var(--cor4);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--cor3);
    color: var(--cor2);
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}