::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
}

a{
    color: black;
}

header{
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
}

.header-icones{
    display: flex;
    justify-content: space-around;
}

.header-icones div{
    margin-left: 10px;
}

.header-icones div span{
    font-size: 2em;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.logo img{
    max-width: 90px;
    width: auto;
    height: auto;
}

#search{
    display: none;
    height: 60px;
    padding: 10px;
    overflow: hidden;
}

#pesquisaid{
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.505);
}

#buscar{
    width: 20%;
    border: none;
    font-weight: bolder;
    background-color: sienna;
    color: white;
}

#consultar{
    font-weight: bolder;
    color: white;
    background-color: sienna;
    border: 0;
    padding: 10px;
    height: 45px;
}

.slider{
    width: 100vw;
    height: 50px;
    background-color: black;
}

.slider p{
    font-size: .7em;
}

.arrows{
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
}

#arrow-back span, #arrow-forward span{
    font-size: .8em;
}

.img img{
    cursor: pointer;
    max-width: 500px;
}