body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 500px;
    width: 500px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    /*Direção
    row: MainAxis Horizontal, 
         CrossAxis Vertical.

    column: MainAxis Vertical, 
            CrossAxis Horizontal.
    */
    justify-content: center;
    /*Alinha a MainAxis*/
    align-items: center;
    /*Alinha a CrossAxis*/
    align-content: center;
    /*Alinha as linhas do Container Verticalmente*/
    flex-flow: wrap;
    /*Quebra a linha conforme o tamanho*/
}

.container div{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.494);
}

#box1{
    display: flex;
    order: 1;
    /*Ordem dos Elementos*/

    /*  flex: 1;    */

    /*Define o tamanho do elemento em comparativo aos outros no MainAxis*/

    /*  flex-basis: 300px;  */

    /*Define o tamanho do elemento em comparativo aos outros no CrossAxis*/
    
    /*  align-self: flex-start;  */

    /*Alinha apenas o flex item*/

    justify-content: center;
    align-items: center;
    background-color: red; 
}

#box2{
    display: flex;
    order: 2;
    /*Ordem dos Elementos*/

    /*  flex: 1;    */
    
    /*Define o tamanho do elemento em comparativo aos outros no MainAxis*/

    /*  flex-basis: 10px;   */

    /*Define o tamanho do elemento em comparativo aos outros no CrossAxis*/

    /*  align-self: flex-start; */

    /*Alinha apenas o flex item*/

    justify-content: center;
    align-items: center;
    background-color: blue
}

h1{
    display: block;
}